<!DOCTYPE html>
<html lang="zh-CN">
<%- include ./header-footer/header %>

<body>
<!-- Fixed navbar -->
<%- include ./nav/navbar %>
<!-- /Fixed navbar -->
<div style="margin-top: 40px;"></div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <img class="img-thumbnail"
                     src="https://sfault-avatar.b0.upaiyun.com/361/028/3610280978-564f4d2f7490a_huge256"
                     alt="Generic placeholder image" width="140" height="140">
                <a class="btn btn-default" href="#" role="button">修改头像</a>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-7">
                <blockquote>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" value="<%= user.name %>">
                    </div>
                    <br>
                    <footer>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" value="总要不辜负自己">
                        </div>
                    </footer>
                </blockquote>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <br>
                <span class="label label-primary">1 <br> 被赞数</span>
                <span class="label label-primary">1 <br> 被赞数</span><br><br>
                <a class="btn btn-success" href="/users/user/account-settings" role="button"><span
                            class="glyphicon glyphicon-cog"></span>&nbsp;保存修改</a>
            </div><!-- /.col-lg-4 -->
        </div>


    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">
                    Email 地址
                </a>
                <a href="#" class="list-group-item">密码修改</a>
                <a href="#" class="list-group-item">第三方账号</a>


            </div>
        </div>
        <div class="col-md-6">


            <div class="bs-example" data-example-id="simple-table">
                <ul class="list-group">
                    <label>修改邮箱</label>
                    <li class="list-group-item">
                        <div class="alert alert-warning alert-dismissible" role="alert" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <strong>Info: </strong> <span id="updateEmailResult"></span>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">当前邮箱</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static" id="inputOldEmail"><%= user.email %></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputNewEmail" class="col-sm-2 control-label">新的邮箱</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputNewEmail"
                                           placeholder="Email addreess">
                                </div>
                            </div>
                            <button id="buttonModifyEmailAddress" class="btn btn-default btn-sm" role="button">提交
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bs-example" data-example-id="simple-table">
                <ul class="list-group">
                    <label>修改密码</label>

                    <li class="list-group-item">
                        <div class="alert alert-warning alert-dismissible" role="alert" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <strong>Info: </strong> <span id="updatePasswordResult"></span>
                        </div>
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="inputOldPassword">当前密码</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="inputOldPassword"
                                           placeholder="OldPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputNewPassword" class="col-sm-2 control-label">新密码</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="inputNewPassword"
                                           placeholder="New Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputVertifyNewPassword" class="col-sm-2 control-label">确认密码</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="inputVertifyNewPassword"
                                           placeholder="New Password">
                                </div>
                            </div>
                            <button id="buttonModifyPassword" class="btn btn-default btn-sm" role="button">提交</button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="bs-example" data-example-id="simple-table">
                <table class="table">
                    <tbody>
                    <ul class="list-group">
                        <label>第三方账号</label>
                        <li class="list-group-item">
                            <div class="social-account__list user-settings__social-list">

                                <div class="social-account__item">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <a class="label label-primary">豆瓣</a>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/user/oauth/douban" class="btn btn-default btn-xs ">绑定账号</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="social-account__item">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <a class="label label-primary">新浪微博</a>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/user/oauth/weibo" class="btn btn-default btn-xs ">绑定账号</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="social-account__item">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <a class="label label-primary">腾讯 QQ</a>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/user/oauth/qq" class="btn btn-default btn-xs ">绑定账号</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="social-account__item">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <a class="label label-primary">微信</a>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/user/oauth/weixin" class="btn btn-default btn-xs ">绑定账号</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="social-account__item">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <a class="label label-primary">GitHub</a>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/user/oauth/github" class="btn btn-default btn-xs ">绑定账号</a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </li>


                    </ul>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-3">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
    </div>

    <hr>

</div>

<!-- /container -->
<%- include ./header-footer/footer %>
<script>

    <!--修改邮箱开始-->
    var buttonModifyEmailAddress = document.getElementById("buttonModifyEmailAddress");
    buttonModifyEmailAddress.onclick = function (e) {
        e.preventDefault();
        var newEmail = document.getElementById("inputNewEmail").value;
        alert(newEmail);
        var request = new XMLHttpRequest();
        request.open("POST", "/users/modify-email", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.onreadystatechange = function () {
            if (request.readyState === 4 && request.status === 200) {
                var modifyEmailResult = JSON.parse(request.responseText);
                if (modifyEmailResult.info === "success") {
                    document.getElementById("updateEmailResult").parentNode.style.display = "block";
                    document.getElementById("updateEmailResult").innerHTML = "更新邮箱成功";
                    document.getElementById("inputOldEmail").innerHTML = modifyEmailResult.email;
                }
            }
        }
        request.send(JSON.stringify({
            newEmail: newEmail
        }));
    }
    <!--修改邮箱结束-->

    <!--修改密码开始-->

    var buttonModifyPassword = document.getElementById("buttonModifyPassword");
    buttonModifyPassword.onclick = function (e) {
        e.preventDefault();
        var oldPassword = document.getElementById("inputOldPassword").value;
        var newPassword = document.getElementById("inputNewPassword").value;
        var vertifyNewPassword = document.getElementById("inputVertifyNewPassword").value;
        if (oldPassword.length > 0) {
            if (newPassword !== vertifyNewPassword) {
                document.getElementById("updatePasswordResult").parentNode.style.display = "block";
                document.getElementById("updatePasswordResult").innerHTML = "新密码与确认密码不一致";
            } else {
                var request = new XMLHttpRequest();
                request.open("POST", "/users/modify-password", true);
                request.setRequestHeader("Content-Type", "application/json");
                request.onreadystatechange = function () {
                    if (request.readyState === 4 && request.status === 200) {
                        var modifyPasswordResult = JSON.parse(request.responseText);
                        if (modifyPasswordResult.info === "success") {
                            document.getElementById("updatePasswordResult").parentNode.style.display = "block";
                            document.getElementById("updatePasswordResult").innerHTML = "更新密码成功";
                        } else if (modifyPasswordResult.info === "wrongOldPassword"){
                            document.getElementById("updatePasswordResult").parentNode.style.display = "block";
                            document.getElementById("updatePasswordResult").innerHTML = "当期密码错误,请重新确认";

                        } else {
                            document.getElementById("updatePasswordResult").parentNode.style.display = "block";
                            document.getElementById("updatePasswordResult").innerHTML = "未知异常";
                        }
                    }
                }
                request.send(JSON.stringify({
                    oldPassword: oldPassword,
                    newPassword: newPassword
                }));
            }
        } else {
            document.getElementById("updatePasswordResult").innerHTML = "请输入 当前密码";

        }
    }
    <!--修改密码结束-->


    /*
     //        设置请求头是JSON格式,content-type
     //        就是给当前请求设置请求头,制定当前发送的内容是json的格式来组织的
     //        需要把JSON对象也就是JavaScript对象{}发送出去的话,是需要序列化的,因为Http只能发送文本,需要将对象转换为字符串文本.不能发送对象,就像Java对象的远程调用都是需要序列化的一样
     //        JavaScript序列化方法JSON.stringfy()
     var xhr = new XMLHttpRequest();
     xhr.open("POST","/search",true);// true是异步请求,不会导致浏览器阻塞,会大大提升用户体验
     //      和Android中的设置请求头的方法一样,因此就是setRequestHeader(key,value);
     xhr.setRequestHeader("Content-Type","application/json");// 这边在表单数据提交时候也会用的
     //      xhr.onload 是level2的版本,相当于是简化了 xhr.readyState ===4
     xhr.timeout = 100;
     xhr.ontimeout = function () {
     alert("Ajax请求超时");
     }

     //        setTimeout(function(){ res.json(JSON字符串 )},2000);
     xhr.onreadystatechange = function () {
     if (xhr.readyState ===4 && xhr.status === 200 ){
     // 根据响应的Content-Type进行处理,如果是Content-Type是XML类型的话,就会使用responseXML进行读取
     // 否则其他任何格式的文本都使用responseText接收

     alert(xhr.responseText);
     //               xhr.getAllResponseHeaders()->JSON格式的对象
     //               xhr.getResponseHeader(key)
     //               xhr.status
     //               xhr.statusText
     // eval 将JSON字符串转换为JSON对象,也就是JavaScript对象,因为JSON对象就是原生的JavaScript对象
     }
     }
     */
</script>
</body>

</html>