<!DOCTYPE html>
<html lang="zh-CN">

<%- include ./header-footer/header %>

    <body>

        <!-- Fixed navbar -->
        <%- include ./nav/navbar %>
            <!-- /Fixed navbar -->


            <div class="container">

                <div class="masthead">
                    <h1 class="text-muted">-</h1>

                </div>
                <div>
                <% articles.forEach(function(article,index){%>
                    <p>
                        <h2><a href="/article/<%= article._id %>"><%= article.title %></a></h2></p>
                    <p class="info">
                        作者:
                        <a href="/users/u/<%=article.author %>">
                            <%= article.author %> |
                        </a>
                        日期:
                        <%= article.time.postTime %>
                    </p>
                    <p>
                        <%- article.content %>
                    </p>

                    <%})%>
                </div>
                <%- include ./paging %>
            </div>
            <!-- /container -->



            <%- include ./header-footer/footer %>

    </body>

</html>