<!DOCTYPE html>
<html lang="zh-CN">

<%- include ./header-footer/header %>

    <body>
    <!-- Fixed navbar -->
    <%- include ./nav/navbar %>
    <!-- /Fixed navbar -->
    <div class="jumbotron">
            <div class="search-header">
                <h1>搜索</h1>
                <form id="index-page-search-form" class="form-inline" method="get" action="/search/club_article">
                    <div class="form-group">
                        <label class="sr-only" for="indexSearchContent">Amount (in dollars)</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" name="keyword" class="form-control" id="indexSearchContent" placeholder="在这里输入搜索的内容">
                        </div>
                    </div>

                    <div class="btn-group" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button name="type" type="text" class="btn btn-default" id="search-choice-item">
                                简文
                            </button>
                        </div>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" title="club_question">问题</a></li>
                            <li><a href="#" title="club_answer">回答</a></li>
                            <li><a href="#" title="club_article">简文</a></li>
                            <li><a href="#" title="club_author">社区作者</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" title="book_name">书名</a></li>
                            <li><a href="#" title="book_author">书作者</a></li>
                            <li><a href="#" title="book_press">出版社</a></li>
                        </ul>
                        <button type="submit" class="btn btn-primary" id="indexConfirmSearchButton">搜索</button>
                    </div>
                </form>
            </div>
           <!--搜索结果-->
            <div class="main-content row">
                <div class="col-md-2 "></div>
                <div class="col-md-8">
                    <%if(typeof  articles !== "undefined"){ %>

                    <% articles.forEach(function(article, index){ %>
                    <div class="media">
                        <div class="media-left">
                            <h5 title="点赞数">１　<span class="glyphicon glyphicon-thumbs-up" ></span> </h5>
                            <h5 title="浏览量"><%= article.visit_count %>　<span class="glyphicon glyphicon-user"></span> </h5>

                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="/article/<%= article._id %>"><%= article.title %></a></h4>
                            <h6 class="media-heading"> 作者:
                                <a href="/user/u/<%= article.author._id %>"><%= article.author.nickname %>
                                </a>
                                &nbsp;&nbsp;&nbsp; <%= article.author.signature %>
                                &nbsp;&nbsp;&nbsp; <%= article.create_at_ago() %>
                            </h6>
                            <%= article.content.length > 100? article.content.substring(0, 100): article.content %>
                        </div>
                        <div class="media-right">
                            <a href="#">
                                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="<%= article.author.avatarUrl %>" data-holder-rendered="true" style="width: 20px; height: 20x;">
                            </a>
                        </div>
                    </div>
                    <!--单个文章简介 start-->


                    <% }) %>
                    <!--单个文章简介 end-->
                    <%- include ./paging %>
                    <% } %>
                </div>

                <!--右侧模块 End-->
                <div>
                    <p>
                    <h2></h2></p>
                    <p class="info">

                    <p>

                    </p>
                </div>
            </div>
            <!--搜索结果-->

        </div>
    </div>

            <div class="container">

                <div style="margin-top: 80px;"></div>

            </div>
            <!-- /container -->
            <%- include ./header-footer/footer %>

    </body>

</html>