<!DOCTYPE html>
<html lang="zh-CN">

<%- include ./header-footer/header %>

<body>

<!-- Fixed navbar -->
<%- include ./nav/navbar %>
<!-- /Fixed navbar -->


<div class="container">

    <div class="masthead">
        <h1 class="text-muted">-</h1>

    </div>
    <!--    -->
    <% tags.forEach(function (tag) { %>

    <a href="/tag/<%= tag %>" class="tag"><%= tag %></a>
    <% }) %>
</div>
<!-- /container -->


<%- include ./header-footer/footer %>

</body>

</html>