<!DOCTYPE html>
<html lang="zh-CN">
<%- include ../header-footer/header %>

<body>
<!-- Fixed navbar -->
<%- include ../nav/navbar %>
<!-- /Fixed navbar -->
<div style="margin-top: 40px;"></div>
<%- include ./userHeader %>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-2">
            <%- include ./left_sidebar %>
        </div>
        <div class="col-md-6">

            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading"><a href="/user/u/other_user._id"><%= other_user.nickname %></a>&nbsp;发表了<%= other_user.article_count %>篇文章</div>
                <!-- List group -->
                <ul class="list-group">
                    <% articles.forEach(function(article,index){%>

                    <li class="list-group-item">

                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/article/<%= article._id %>"><%= article.title %></a></h4>

                                <%= article.create_at_ago() %>
                            </div>

                        </div>
                    </li>
                    <%})%>

                </ul>
            </div>

        </div>
        <div class="col-md-3">
            <h2>TODO</h2>
            <p>暂时还没有想好放什么!</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
    </div>

    <hr>

</div>

<!-- /container -->
<%- include ../header-footer/footer %>

</body>

</html>

