<div class="list-group">
    <a href="#" class="list-group-item list-group-item-success"><%= other_user.nickname %>的主页</a>
    <a href="#" class="list-group-item">回答</a>
    <a href="#" class="list-group-item">提问</a>
    <a href="/user/<%= other_user._id %>/articles_20" class="list-group-item">文章</a>
    <a href="/user/<%= other_user._id %>/followers" class="list-group-item">关注者</a>
    <a href="/user/<%= other_user._id %>/be_followers" class="list-group-item">关注的人</a>
    <a href="/user/<%= other_user._id %>/articles_collects_20" class="list-group-item">收藏的文章</a>
    <a class="list-group-item">收藏的回答</a>
    <a href="#" class="list-group-item">关注的问题</a>
</div>