<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">格桑花苑 &nbsp&nbsp愿岁月不负努力的你</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <% if (user){ %>
            <a href="/user/u/<%= user._id %>" class="list-group-item  list-group-item-info ">我的主页</a>
            <a href="/user/<%= user._id %>/questions_20" class="list-group-item">我的提问</a>
            <a href="/user/<%= user._id %>/answers_20" class="list-group-item">我的回答</a>
            <a href="/user/<%= user._id %>/comments_20" class="list-group-item">我的评论</a>
            <a href="/user/<%= user._id %>/collect_questions_20" class="list-group-item">收藏的问题</a>
            <a href="/user/<%= user._id %>/collect_answers_20" class="list-group-item">收藏的回答</a>
            <a href="/user/account-settings" class="list-group-item">账户设置</a>
            <% } else { %>
            <h5>1. 格桑花苑是南中医的一个在线社区</h5>
            <h5>2. 我们希望通过我们和你的的努力</h5>
            <h5>3. 认真|严谨|通俗|回答问题, 写优质的分享内容和文章</h5>
            <h5>4. 让你更加了解南中医,让你对这个大学减少一丝迷茫</h5>
            <h5>5. 愿大学岁月是一段值得回首的记忆!</h5>
            <% } %>

        </div>
    </div>


</div>