<!DOCTYPE html>
<html lang="zh-CN">

<%- include ../header-footer/header %>

<body>

<!-- Fixed navbar -->
<%- include ../nav/navbar %>
<!-- /Fixed navbar -->


<div class="container">
    <div class="main-container row">
        <div class="col-md-8">
            <!--Header-->
            <div class="btn-group btn-group-justified question-nav" role="group" aria-label="...">
                <div class="btn-group" role="group" >
                    <a href="" class="btn btn-link">最新回复的</a>
                </div>
                <div class="btn-group" role="group">
                    <a href="" class="btn btn-link">热门的</a>

                </div>
                <div class="btn-group" role="group">
                    <a href="" class="btn btn-link">未被回答的</a>
                </div>
            </div>
            <hr>
            <!--Header-->

            <div class="questions-summary">
                <% questions.forEach(function (question){ %>
                <% if (question.last_answer) { %>
                <div class="question-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                     src="<%= question.lastest_answer.author.avatarUrl %>" data-holder-rendered="true"
                                     style="width: 30px; height: 30px;">
                            </a>
                            <h5 title="点赞数">1　<span class="glyphicon glyphicon-thumbs-up"></span></h5>
                            <h5 title="浏览量">1　<span class="glyphicon glyphicon-user"></span>
                            </h5>
                        </div>
                        <div class="media-body">
                            <h6 class="question-item-author media-heading"><%= question.lastest_answer.author.nickname %>
                                回答了
                                • <%= question.lastest_answer.create_at_ago() %></h6>
                            <h4 class="media-heading"><strong><a
                                            href="question/<%= question._id %>"><%= question.title %></a></strong>
                            </h4>
                            <h5><strong><a href=""><%= question.lastest_answer.author.nickname %></a></strong>
                                • <%= question.lastest_answer.author.signature %></h5>
                            <p class="lead">
                                <a href="" class="question-content-item">
                                    <%= question.lastest_answer.content %>
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
                <!--question-item -->
                <% } %>
                <% }) %>
            </div>


        </div>
        <div class="col-md-4">
            <%- include ./right_sidebar %>
        </div>
    </div>
</div>
<%- include ../header-footer/footer %>

</body>

</html>